body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.boxRelogio{
    background-color: lightgrey;
    max-width: 300px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#clock {
    font-size: 36px;
}